<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- Tout le code HTML qui de modifer par le serveur -->
    <h1>Index.html dans le dossier template</h1>
    <ul> 
        {{#test}}
            <li>
            Test ->  Nom {{ name1 }} || Nom de la place : {{ name1 }}
            </li>
        {{/test}}
    </ul>

    <ul>
    {{#nameList}} <!-- se répète entre le #nameLis.. et /nameList -->
        <li>{{.}}</li> <!-- le . affiche le contenus qui correspond a l'élement actuel qu'il parcours -->
    {{/nameList}}
    </ul>
    <ul>
        {{#nameList2}} <!-- se répète entre le #nameLis.. et /nameList -->
            <li>{{ name }} {{ place }}</li> <!-- le . affiche le contenus -->
        {{/nameList2}}
    </ul>
</body>
</html>